input {
  height: 45px;
  background-color: var(--field-input-color);
  border-radius: 10px;
  outline: none;
  width: 100%;
  border: none;
  padding: 0px 1rem;
  font-size: 0.825rem;
  color: var(--primary-text-color);
  font-weight: 400;

  &::placeholder {
    color: var(--primary-text-color);;
  }

  &:hover{
    opacity: 0.9;
  }
}